.home-swiper-slider {
    min-height: 65vh;
    //background: url("./../../assets/banner1.jpg") no-repeat;
    background-size: cover !important;
    background-position: center !important;
    padding: 0 9%;
    display: flex;
    align-items: center;

    .content {
        span {
            color: #666;
            font-size: 18px;
            font-weight: 500;
        }
        h3 {
            color: #130f40;
            font-size: 30px;
            margin: 5px 0;
        }
    }
}
