
.blog-card {
    border: 0.1rem solid rgba(0,0,0,.3);
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

    .image {
        height: 250px;
        width: 100%;
        border-radius: 2px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
    
            &:hover {
                transform: scale(1.15);
            }
        }
    }

    .blog-card-body {
        padding: 10px 20px;

        h3 {
            font-size: 22px;
            color: #130f40;
        }

        p {
            font-size: 13px;
            color: gray;
            margin: 15px 0;
        }

        a {
            margin-bottom: 20px;
        }

        .blog-card-body-detail {
            padding-top: 20px;
            padding-bottom: 10px;
            border-top: 0.1rem solid rgba(0,0,0,.3);
            display: flex;
            justify-content: space-between;

            .blog-card-body-detail-info {
                display: flex;
                align-items: center;
                gap: 5px;
                
                .blog-card-body-detail-info-icon {
                    color: #eb4d4b;;
                    font-size: 19px;
                }
                span {
                    font-size: 12px;
                    color: gray;
                }
            }
            
        }
    }
}