
.contact {
    padding-top: 60px;

    .contact-heading {
        text-align: center;
        font-size: 30px;
        color: #130f40;
        margin-bottom: 15px;

        span {
            color: #eb4d4b;
        }
    }
}