.contact {
    padding-top: 60px;

    .contact-heading {
        text-align: center;
        font-size: 30px;
        color: #130f40;
        margin-bottom: 15px;

        span {
            color: #eb4d4b;
        }
    }

    .contact-top {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 20px;

        .contact-card {
            flex: 1 1 300px;
            border: 0.1rem solid rgba(0, 0, 0, .3);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
            border-radius: 5px;
            padding: 20px;
            text-align: center;

            .contact-card-icon {
                font-size: 30px;
                color: #666;
                border: 0.1rem solid rgba(0, 0, 0, .3);
                border-radius: 50%;
                padding: 12px;
            }

            h3 {
                font-size: 20px;
                color: #130f40;
                margin: 5px 0;
            }

            span {
                display: block;
                font-size: 14px;
                font-weight: 500;
                color: gray;
            }
        }
    }

    .contact-bottom {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        .contact-form {
            flex: 1 1 400px;
            border: 0.1rem solid rgba(0, 0, 0, .3);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
            border-radius: 5px;
            padding: 10px 20px;

            .contact-form-heading {
                font-size: 30px;
                color: #242424;
            }

            form {
                .row {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 10px;
                    
                    .contact-form-input {
                        //flex: 1 1 150px;
                        height: 40px;
                        border: 0.1rem solid rgba(0, 0, 0, .3);
                        border-radius: 5px;
                        padding-left: 5px;
                        width: 47.5%;
                    }
                }
            }

            textarea {
                margin-top: 10px;
                border: 0.1rem solid rgba(0, 0, 0, .3);
                border-radius: 5px;
                padding-left: 5px;
                width: 98.2%;
            }
            a {
                margin-top: 20px;
            }
        }

        .contact-map {
            flex: 1 1 400px;
            border: 0.1rem solid rgba(0, 0, 0, .3);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
            border-radius: 5px;
            padding: 10px;
            
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}


@media (max-width: 435px) {
    .contact {
        .contact-bottom {
            .contact-form {
                form {
                    .row {
                        gap: 10px;
                        
                        .contact-form-input {
                           width: 100%;
                        }
                    }
                }
            }
        }
    }
}