.home {
    padding: 0;
    margin-top: 59px;
    width: 100vw;

    .home-wrapper {
        .swiper-button-prev, .swiper-button-next {
            background-color: white;
            border: 2px solid lightgrey;
        }

        .swiper-button-prev {
            width: 20px;
            height: 20px;
            padding: 10px;
            border-radius: 5px;
            top: auto;
            bottom: 20px;
            right: 90px;
            left: auto;

            &:hover {
                border: 2px solid #130f40;
                background-color: #130f40;
            }
        }

        .swiper-button-next {
            width: 20px;
            height: 20px;
            padding: 10px;
            border-radius: 5px;
            top: auto;
            bottom: 20px;
            right: 40px;
            left: auto;

            &:hover {
                border: 2px solid #130f40;
                background-color: #130f40;
            }
        }

        .swiper-button-prev::after, .swiper-button-next::after {
            font-size: 15px;
            font-weight: 600;
            color: gray;
        }
    }

}