.home {
    padding: 0;
    margin-top: 59px;
    width: 100vw;

    .home-wrapper {
        .swiper-button-prev, .swiper-button-next {
            background-color: white;
            border: 2px solid lightgrey;
        }

        .swiper-button-prev {
            width: 10px;
            height: 10px;
            padding: 10px;
            border-radius: 5px;
            top: auto;
            bottom: 20px;
            right: 80px;
            left: auto;

            &:hover {
                border: 2px solid #130f40;
                background-color: #130f40;
            }
        }

        .swiper-button-next {
            width: 10px;
            height: 10px;
            padding: 10px;
            border-radius: 5px;
            top: auto;
            bottom: 20px;
            right: 40px;
            left: auto;

            &:hover {
                border: 2px solid #130f40;
                background-color: #130f40;
            }
        }

        .swiper-button-prev::after, .swiper-button-next::after {
            font-size: 15px;
            font-weight: 600;
            color: gray;
        }
        
        .home-swiper-slider {
            min-height: 65vh;
            //background: url("./../../assets/banner1.jpg") no-repeat;
            background-size: cover !important;
            background-position: center !important;
            //padding: 2rem;
            padding: 0 9%;
            display: flex;
            align-items: center;

            .content {
                span {
                    color: #666;
                    font-size: 18px;
                    font-weight: 500;
                }
                h3 {
                    color: #130f40;
                    font-size: 30px;
                    margin: 5px 0;
                }
            }
        }

    }

}