
.review {
    padding-top: 60px;
    background: #f9f9f9;

    .review-heading {
        text-align: center;
        font-size: 30px;
        color: #130f40;
        margin-bottom: 25px;

        span {
            color: #eb4d4b;
        }
    }
}