
.products {
    padding-top: 60px;

    .products-heading {
        text-align: center;
        font-size: 30px;
        color: #130f40;
        margin-bottom: 15px;

        span {
            color: #eb4d4b;
        }
    }

    .products-nav {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;

        .products-nav-item {
            font-size: 14px;
            color: #666;
            cursor: pointer;

            &:hover {
                color: #eb4d4b;
            }
        }
        .active {
            color: #eb4d4b;
        }
    }

    .products-galery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 10px;
    }
}