.footer {
    padding-top: 25px;

    .footer-links {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        .about-us {
            flex: 1 1 200px;
            
            p {
                font-size: 13px;
                color: #666;
            }
        }

        .category {
            flex: 1 1 200px;

            .category-list {

                li {
                    
                }
            }
        }

        .quick-links {
            flex: 1 1 200px;
        }

        .useful-links {
            flex: 1 1 200px;
        }
    }

    .footer-social-media {
        text-align: center;
        margin: 35px 0;

        .footer-social-media-icon {
            font-size: 22px;
            padding: 15px;
            background-color: #130f40;
            border-radius: 50%;
            color: white;
            margin-right: 10px;
            cursor: pointer;
        }
    }

    .footer-info {
        text-align: center;
    }
}

.footer-list {
    padding: 0;
}

.footer-list-item {
    font-size: 13px;
    color: #666;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

.footer-list-item-icon {
    color: #eb4d4b;
}

.footer-title-links {
    font-size: 22px;
    font-weight: 600;
    color: #130f40;
}