@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: .2s linear;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 16px 9%;
}

.btn {
  display: inline-block;
  margin-top: 5px;
  padding: 5px 16px;
  border-radius: .5rem;
  background: #eb4d4b;
  color: #fff;
  font-size: 18px;

  &:hover {
    background-color: #130f40;
  }
}